<%#encoding:UTF-8%><div<%= @id && %( id="#{@id}") %> class="<%= ['verseblock',role].compact * ' ' %>"><%
if title? %>
<div class="title"><%= title %></div><%
end %>
<pre class="content"><%= content %></pre><%
if (attr? :attribution) or (attr? :citetitle) %>
<div class="attribution"><%
  if attr? :citetitle %>
<cite><%= attr :citetitle %></cite><%
  end
  if attr? :attribution
    if attr? :citetitle %><br><%
    end %>
<%= "&#8212; #{attr :attribution}" %><%
  end %>
</div><%
end %>
</div>
